http://api.localhost {
	reverse_proxy host.docker.internal:3001
}

http://dashboard.localhost {
	reverse_proxy host.docker.internal:3002
}

http://docs.localhost {
	reverse_proxy host.docker.internal:3003
}

http://tiles.localhost {
	reverse_proxy martin:3000
}

http://mail.localhost {
	reverse_proxy mailpit:8025
}
